@model ProyectoMarguerite.Models.ViewModels.FloresViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}


<!--Seccion 1, Cargar flores-->
<div class="presentacion">
    <h2>Cargar flores</h2>
</div>
<section class="Form-cargar">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="formulario-crear">
                <ul>
                    <label class="control-label">Nombre de la flor</label>
                    <select class="form-select" asp-for="Id_especie">
                        <option selected>Selecciona el nombre</option>
                        <option value="8">Clavel</option>
                        <option value="14">Crisantemo</option>
                        <option value="12">Gardenia</option>
                        <option value="3">Girasol</option>
                        <option value="6">Hortensia</option>
                        <option value="11">Jazmin</option>
                        <option value="9">Lavanda</option>
                        <option value="7">Lirio</option>
                        <option value="5">Margarita</option>
                        <option value="10">Nardo</option>
                        <option value="4">Orquidea</option>
                        <option value="1">Rosa</option>
                        <option value="2">Tulipan</option>
                        <span asp-validation-for="Id_especie" class="text-danger"></span>
                    </select>
                </ul>
            </div>
            <div class="formulario-crear">
                <ul>
                    <label class="control-label">Color de la flor</label>
                    <select class="form-select" asp-for="Id_color">
                        <option selected>Selecciona un color</option>
                        <option value="3">Amarillo</option>
                        <option value="4">Blanco</option>
                        <option value="5">Naranja</option>
                        <option value="2">Rojo</option>
                        <option value="7">Rosado</option>
                        <option value="6">Verde</option>
                        <option value="1">Violeta</option>
                        <span asp-validation-for="Id_color" class="text-danger"></span>
                    </select>
                </ul>
            </div>
            <div class="formulario-crear">
                <ul>
                    <label asp-for="Precio" class="control-label"></label>
                    <input placeholder="Precio" asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </ul>
            </div>

            <div class="formulario-crear">
                <ul>
                    <label asp-for="Descripcion" class="control-label"></label>
                    <textarea rows="7" style="height:70%" placeholder="Descripcion de la flor" class="form-control" asp-for="Descripcion"><</textarea>
                    <span asp-validation-for="Descripcion"></span>
                </ul>
            </div>
            <div class="formulario-btn">
                <a asp-action="Index">Atrás</a>
                <input class="btn-aceptar" type="submit" value="Create" />
            </div>
        </form>
    </div>
</section>

