@{
    ViewData["Title"] = "Index";
}
<!--Seccion 1, Presentacion-->
<section class="inicio">
<div class="hero">
    <div class="textos-hero">
        <h1>Le petits Marguerite</h1>
        <p>Flores decorativas elegidas con amor</p>
        <a href="#catalogo">Catálogo</a>
    </div>
</div>
</section>

<!--Seccion 2, Informacion-->
<section class="seccion-2">
    <article class="bloque-izquierdo">
    <div class="izq-img">
        <img src="~/images/flower-g67baea190_1280.jpg" alt="MDN">
    </div>
    </article>

    <article class="bloque-derecho">
        <div class="der-titulo">
            <h2 class="animate__animated animate__zoomInRight">La elegancia se encuentra en los detalles: descubre nuestras flores cuidadosamente seleccionadas.</h2>
            <a href="#catalogo">Colección para el hogar</a>
        </div>
    </article>
</section>

<!--Seccion 3, Informacion-->
<section class="seccion-3">
    <article class="bloque-izquierdo2">
        <div class="izq-titulo2">
            <h2 class="animate__animated animate__zoomInLeft">Sorprende a tus seres queridos con un regalo que siempre recordarán.</h2>
            <a href="#catalogo">Ramos surtidos</a>
        </div>
    </article>
    <article class="bloque-derecho2">
        <div class="der-img2">
            <img src="~/images/ramoSurtido.jpg" alt="gira">
        </div>
    </article>
</section>
